* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-img-top {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.col {
    width: 200px;
}

#padre {
    display: flex;
    align-items: center;
    justify-content: center;
}
